/* Main colors:
primary: #1CA870;
Secondary: #A81C55;


Font Familys-
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Trykker', serif;
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Cairo:300|Trykker&display=swap');